/*h1 {
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    line-height: 2em;
}

.faves {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1em;
    padding: 0.5em 2em;
}

p {
    padding: 10px;
    font-size: 1.2em;
}

h2 {
    text-align: left;
    font-size: 1.5em;
    padding-left: 10%;
}

.recent-searches, .listed-locations, .error-wrap {
    display: block;
    border: 1px solid black;
    height: 200px;
    margin: 10px;
}

a:link {
    text-decoration: underline;
    color: darkred;
}
*/