<h1>PropertyCross</h1>
<button class="faves" (click)="goFaves()">Faves</button>
<p>
    Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search
    in your current location!
</p>
<search-form (sendSearchVal)="getSearchVal($event)"></search-form>
<button (click)="clean()">clean localStorage</button>
<div class="recent-searches" *ngIf="!state?.locations.length && state?.error == undefined">
    <h2>Recent searches</h2>
    <ul *ngIf="recentSearches.length">
        <li *ngFor="let search of recentSearches"><a (click)="moveToSearch(search.location)" href="javascript:void(0);">{{search.location}} ({{search.count}})</a></li>
    </ul>
</div>
<div class="error-wrap" *ngIf="state?.error">
    <h2>Error</h2>
    {{state?.error}}
</div>
<div class="listed-locations" *ngIf="state?.locations.length">
    <h2>Listed locations</h2>
    <ul>
        <li *ngFor="let location of state?.locations"><a (click)="moveToSearch(location.title)" href="javascript:void(0);">{{location.title}}</a></li>
    </ul>
</div>