form {
    padding: 10px;
}

input[type="text"] {
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: 1em;
    padding: 5px;
}

.button-wrap {
    width: 80%;
    display: block;
    margin: 10px auto;
}

.button-wrap button {
    min-width: 120px;
    font-size: 1em;
    padding: 5px;
}
