<h1>PropertyCross</h1>
<button class="faves">Faves</button>
<div class="main">
    <p>
        Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search
        in your current location!
    </p>
    <form (submit)="gotoResults()">
        <input type="text" placeholder="what are you looking for?" [(ngModel)]="searchVal" [ngModelOptions]="{standalone: true}" />
        <ul>
            <li *ngFor="let item of resp"> * {{item.summary}}</li>
        </ul>
        <div class="button-wrap">
            <button type="submit">Go</button>
            <button (click)="getLocation($event)">My location</button>
        </div>
    </form>
</div>